{% extends "base.html.twig" %}

{% import '_macros/icons.html.twig' as icons %}

{% block title %}Przepis: {{ recipe.title|upper }}{% endblock %}

{% block body %}
    <div class="flex gap-4 items-center">
        <h1 class="font-bold text-2xl text-center p-4">
            {{ recipe.title|upper }}
        </h1>
        {% include "_partials/_favorite_btn.html.twig" with {
            "recipe": recipe
            }
        %}
    </div>

    <div class="w-full md:w-1/2 mx-auto">
        {% if recipe.imageFilename %}
            <img class="w-full mx-auto md:max-w-[500px] h-64 object-cover"
                src="{{ asset('/uploads/recipes/'~ recipe.imageFilename) }}"
                alt="{{ recipe.title  }} obrazek">
        {% else %}
            <img class="w-full mx-auto md:max-w-[500px] h-64 object-cover" src="{{ asset('/uploads/recipes/default.png') }}"
                alt="{{ recipe.title  }} obrazek">
        {% endif %}
        <div class="flex justify-center gap-4">
            <a class="flex items-center gap-2 hover:font-bold underline"
                href="{{ path('app_profile_show', {'id': recipe.author.id}) }}">
                {{icons.user()}} {{ recipe.author.email }}
            </a>
            <p>Czas przygotowania: <strong>{{ recipe.preparationTime }} godzin </strong> </p>
        </div>
    </div>

    <div class="flex flex-col md:justify-around p-4 md:flex-row">

        <div class="p-4 md:max-w-2/3">
            <h2 class="font-semibold text-xl py-2">Instrukcje: </h2>
            {{ recipe.instructions|nl2br }}
        </div>

        <div class="p-4">
            <h2 class="font-semibold text-xl py-2">Składniki: </h2>
            <ul class="space-y-2 list-disc list-inside">
                {% for ingredient in recipe.recipeIngredients %}
                    <li>{{ ingredient.name|capitalize }} ( <strong>{{ ingredient.quantity }} </strong>) </li>
                {% endfor %}
            </ul>
        </div>

    </div>

    <div class="p-4 md:max-w-2/3">
        <h2 class="font-semibold text-xl py-2">Komentarze ({{ recipe.comments.count }}) </h2>
        {{ form_start(commentForm, {
            'action': path('app_comment_add', {'id': recipe.id}),
        }) }}

            {{ form_row(commentForm.content, {
                'attr': {
                    'class': 'w-full p-2 max-h-32 min-h-16 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500',
                    }
                })
            }}

            <button type="submit"
                class="flex gap-1 bg-green-500 p-2 text-white rounded font-bold hover:cursor-pointer hover:bg-green-600 ">
                {{icons.send()}}
            </button>

        {{ form_end(commentForm) }}
    </div>
    <div class="p-4 md:max-w-2/3">
        <ul class="mb-10 flex flex-col gap-4">
            {% for comment in recipe.comments %}
                <li class="flex flex-col border-b border-gray-100 pb-2">
                   <div class="flex gap-4 items-center ">
                     {% if comment.author.imageFilename %}
                     <img class="w-10 h-10 rounded-full object-cover shadow cursor-pointer"
                         src="{{ asset('/uploads/users/'~ comment.author.imageFilename) }}" alt="Avatar">
                     {% else %}
                     <img class="w-10 h-10 rounded-full object-cover shadow cursor-pointer"
                         src="{{ asset('/uploads/users/default.jpg') }}" alt="Avatar">
                     {% endif %}

                     <div class="flex flex-col gap-1">
                         <span class="text-xs flex gap-1 items-center">
                             <p class="font-semibold">
                                 {% include "_partials/_username.html.twig" with {
                                    "user": comment.author
                                } %}
                             </p>
                             <p class="underline">{{ comment.createdAt|date("m-d-Y") }}</p>
                             {% if is_granted('COMMENT_DELETE', comment) %}
                             <form action="{{ path('app_comment_delete', {'id': comment.id}) }}" method="post"
                                 onsubmit="return confirm('Czy na pewno chcesz usunąć ten przepis?');">
                                 <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">

                                 <button type="submit"
                                     class="text-[#222831] font-semibold p-2 focus:outline-none hover:cursor-pointer hover:text-red-500">
                                     {{ icons.delete(4) }}
                                 </button>
                             </form>
                             {% endif %}
                         </span>
                         <span class="font-light text-sm">
                             {{ comment.content|nl2br }}
                         </span>
                         {% if not app.user or is_granted('COMMENT_VOTE', comment) %}
                         {% set userVote = app.user ? app.user.getVoteForComment(comment) : null %}
                         {% set score = comment.getVoteScore() %}

                         <div class="flex gap-4 text-[#222831]">
                             <form action="{{ path('app_comment_like', {'id': comment.id}) }}" method="post">
                                 <input type="hidden" name="_token" value="{{ csrf_token('vote' ~ comment.id) }}">
                                 <input type="hidden" name='vote' value='1'>
                                 <button type="submit" class="cursor-pointer flex gap-1 items-center
                                    {% if userVote and userVote.value == 1%}
                                        text-green-500
                                    {% endif %}
                                 ">
                                     {{ icons.like() }} <span class="text-sm">({{ score.like }})</span>
                                 </button>
                             </form>

                             <form action="{{ path('app_comment_like', {'id': comment.id}) }}" method="post">
                                 <input type="hidden" name="_token" value="{{ csrf_token('vote' ~ comment.id) }}">
                                 <input type="hidden" name='vote' value='-1'>
                                 <button type="submit" class="cursor-pointer flex gap-1 items-center
                                    {% if userVote and userVote.value == -1%}
                                        text-red-500
                                    {% endif %}
                                 ">
                                     {{ icons.unlike() }} <span class="text-sm">({{ score.dislike }})</span>
                                 </button>
                             </form>
                         </div>
                         {% endif %}
                     </div>
                   </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
