{% extends "base.html.twig" %}

{% import '_macros/icons.html.twig' as icons %}

{% block title %}Przepis: {{ recipe.title|upper }}{% endblock %}

{% block body %}
    <div class="flex justify-between items-center px-8 py-4">
        <div class="flex gap-2 items-center">
            <h1 class="font-bold text-2xl text-center">
                {{ recipe.title|upper }}
            </h1>
            {% if is_granted('IS_EMAIL_VERIFIED') %}
                {% include "favorite/_btn.html.twig" with {
                    "recipe": recipe
                    }
                %}
            {% endif %}
        </div>
        <div class="flex gap-2 items-center">
            <p class="text-amber-500">{{ icons.unfavorite(6)}}</p>
            <p id="favorite-count-{{ recipe.id }}">{{ recipe.favoritedBy|length }}</p>
        </div>
    </div>

    <div class="w-full md:w-1/2 mx-auto">
        {% if recipe.imageFilename %}
            <img class="w-full mx-auto md:max-w-[500px] h-64 object-cover"
                src="{{ asset('/uploads/recipes/'~ recipe.imageFilename) }}"
                alt="{{ recipe.title  }} obrazek">
        {% else %}
            <img class="w-full mx-auto md:max-w-[500px] h-64 object-cover" src="{{ asset('/uploads/recipes/default.png') }}"
                alt="{{ recipe.title  }} obrazek">
        {% endif %}
        <div class="flex justify-center gap-4 mt-2">
            <a class="flex items-center gap-2 hover:font-bold underline"
                href="{{ path('app_profile_show', {'id': recipe.author.id}) }}">
                {{icons.user()}} {{ recipe.author.email }}
            </a>
            {% if recipe.difficulty %}
                <span>📊 {{ recipe.difficulty.getLabel() }}</span>
            {% endif %}
            <span >⏱️ {{ recipe.preparationTime }} godz</span>
        </div>
    </div>

    <div class="flex flex-col md:justify-around p-4 md:flex-row">
        <div class="p-4 md:max-w-2/3">
            {% include "category/_tags.html.twig" with {"categories": recipe.categories} %}
            <div>
               {% if recipe.dietaryTags %}
                    <h2 class="font-semibold text-xl py-2">Tagi: </h2>
                    <ul class="flex flex-col gap-2 md:flex-row md:gap-4 text-gray-300 text-sm font-semibold">
                        {% for tag in recipe.dietaryTags %}
                            <li>
                                #{{ tag.getLabel()|capitalize }}
                            </li>
                        {% endfor %}
                    </ul>
               {% endif %}
            </div>
            <div>
                <h2 class="font-semibold text-xl py-2">Instrukcje: </h2>
                {{ recipe.instructions|nl2br }}
            </div>
        </div>

        <div class="p-4">
            <div class="flex justify-between items-center">
                <h2 class="font-semibold text-xl py-2">Składniki </h2>
                {% if is_granted('IS_EMAIL_VERIFIED') %}
                    <form action="{{ path('app_shopping_add', {'id': recipe.id}) }}" method="POST"
                        id="recipe-ingredients-{{ recipe.id }}" class="flex gap-2">
                        <input type="hidden" name="_token" value="{{ csrf_token('shoppingList' ~ recipe.id) }}">
                        <button class="text-sm hover:cursor-pointer p-2 rounded bg-indigo-50 flex gap-2 justify-between items-center" type="submit">{{ icons.add(4) }}Dodaj</button>
                    </form>
                {% endif %}
            </div>
            <ul class="space-y-2 list-disc list-inside">
                {% for ingredient in recipe.recipeIngredients %}
                    <li class="flex gap-2" id="add-ingriedient-{{ ingredient.id }}">
                        <span>{{ ingredient.name|capitalize }} ( <strong>{{ ingredient.quantity }} </strong>)</span>
                        {% if is_granted('IS_EMAIL_VERIFIED') %}
                            <form action="{{ path('app_shopping_add_item', {'id': ingredient.id}) }}"
                                method="POST" >
                                <input type="hidden" name="_token" value="{{ csrf_token('add_item' ~ ingredient.id) }}">
                                <button type="submit" class="hover:cursor-pointer hover:text-blue-500">
                                    {{ icons.add(4) }}
                                </button>
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
    <div class="p-4 md:max-w-2/3">
    {% if is_granted('IS_EMAIL_VERIFIED') %}
        {% include "comment/_form.html.twig" with {
            "commentForm": commentForm,
        }%}
    {% else %}
        <div class="p-4 bg-gray-100 text-gray-500 rounded text-center">
            Musisz potwierdzić email, aby dodawać komentarze.
        </div>
    {% endif %}
    </div>

    <div class="p-4 md:max-w-2/3">
        {% include "comment/_list.html.twig" with {"recipe": recipe}%}
    </div>

{% endblock %}
