{% extends 'dashboard_base.html.twig' %}

{% import '_macros/icons.html.twig' as icons %}

{% block title %}Przepis: {{ recipe.title|upper }}{% endblock %}

{% block body %}
{% include '_partials/_flash_messages.html.twig' %}
<h1 class="text-center text-3xl font-bold text-gray-900 mb-2"> {{ recipe.title|title }} </h1>
<div class="flex flex-col justify-between md:flex-row">

    <div class="w-full md:w-1/2">
        <p>
            <strong>Autor:</strong> {{ recipe.author.email }} <br>
            <strong>Czas przygotowania:</strong> {{ recipe.preparationTime }} godzin
        </p>

        <h2 class="text-xl font-semibold text-gray-800 my-2">Instrukcje: </h2>
        <p class="prose max-w-none text-gray-700 leading-relaxed">
            {{ recipe.instructions|nl2br }}
        </p>
    </div>

    <div class="w-full md:w-1/2">
        <h2 class="flex gap-2 items-center text-xl font-semibold text-gray-800 my-2">
            {{ icons.list() }}
            <span>Składniki:</span>
        </h2>
        <ul class="space-y-2 list-disc list-inside">
            {% for ingredient in recipe.recipeIngredients %}
                <li>{{ ingredient.name|capitalize }} ({{ ingredient.quantity }}) </li>
            {% endfor %}
        </ul>
        {% include "category/_tags.html.twig" with {"categories": recipe.categories} %}
    </div>

    {% if recipe.imageFilename %}
        <div class="w-full md:w-1/2">
            <img src="{{ asset('/uploads/recipes/'~ recipe.imageFilename) }}" alt="{{ recipe.title  }} obrazek">
        </div>
    {% endif %}

</div>

<div class="my-2 flex items-center gap-1">
    {% if is_granted('RECIPE_EDIT', recipe) %}
        <a
            href="{{ path('app_recipe_edit', {'id': recipe.id}) }}"
            class="inline-block bg-yellow-400 text-white font-semibold p-2 rounded-lg shadow-sm hover:bg-yellow-500 hover:cursor-pointer
            ">{{ icons.edit() }}
        </a>
    {% endif %}

    {% if is_granted('RECIPE_DELETE', recipe) %}
        <form action="{{ path('app_recipe_delete', {'id': recipe.id}) }}" method="post"
            onsubmit="return confirm('Czy na pewno chcesz usunąć ten przepis?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recipe.id) }}">
            <button
                type="submit"
                class="bg-red-600 text-white font-semibold p-2 rounded-lg shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 hover:cursor-pointer
                ">{{ icons.delete() }}
            </button>
        </form>
    {% endif %}
</div>

<hr class="border-gray-400 my-2">

<a href="{{ path('app_recipe_index') }}"
    class="text-gray-700 italic font-medium hover:underline hover:cursor-pointer">Powrót do listy</a>

{% endblock %}
