{% import "_macros/icons.html.twig" as icons %}
<li id="ingredient-{{ item.id }}" class="py-1 flex gap-2 items-center {{ item.isChecked ? 'opacity-50' : '' }}">
    <form action="{{ path('app_shopping_toggle', {'id':item.id}) }}" method="POST"
        class="flex items-center gap-2">
        <input type="hidden" name="_token" value="{{ csrf_token('shoppingItem' ~ item.id) }}">
        <input type="checkbox" {{ item.isChecked ? 'checked' : ''}} id="item-{{ item.id }}"
            onchange="this.form.requestSubmit()">
        <label for="item-{{ item.id }}" class="cursor-pointer">
            <span class="{{ item.isChecked ? 'line-through' : '' }}">{{ item.name }}</span>
            {% if item.quantity %}
                ( {{ item.quantity|round(2) }}
                <span class="text-sm font-normal"> {{ item.unit }}) </span>
            {% endif %}

            <span class="ml-1 text-sm font-bold text-indiego-500 bg-indigo-50 px-2 py-0.5 rounded-full no-underline">
                x{{ item.count }}
            </span>
        </label>
    </form>
    <form action="{{ path('app_shopping_delete', {'id': item.id}) }}" method="POST">
        <input type="hidden" name="_token" value="{{ csrf_token('shoppingItem' ~ item.id) }}">
        <button type="submit" class="hover:cursor-pointer hover:text-red-500">
            {{ icons.delete(4) }}
        </button>
    </form>
</li>
