{% extends 'base.html.twig' %}

{% import "_macros/icons.html.twig" as icons %}

{% block title %}Lista zakupów!{% endblock %}

{% block body %}
    <div class="p-4">
        <h1 class="font-bold text-2xl">Lista zakupów</h1>
        <div class="mt-5">
            {% for group in groupedItems %}
                <div id="ingredient-group-{{ group.recipe.id ?? 'loose' }}">
                    {% set recipe = group.recipe %}
                    {% set items = group.items %}
                    <div class="flex gap-2">
                        {% if recipe %}
                        <a href="{{ path('app_show', {'id': recipe.id}) }}">
                            <span class="font-semibold">{{ recipe.title }}</span>
                        </a>
                        {% else %}
                        <span class="font-semibold">Luźne produkty</span>
                        {% endif %}
                        <span id="ingredient-counter-{{recipe.id ?? 'loose' }}">({{ items|length }} składników)</span>
                    </div>
                    <ul class="mb-5">
                        {% for item in items %}
                        {% include 'shopping_list/_ingredient_element.html.twig' with {'item': item} %}
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
