{% extends 'dashboard_base.html.twig' %}

{% import '_macros/icons.html.twig' as icons%}

{% block title %}Edytuj dane użytkownika{% endblock %}

{% block body %}

    <h1 class="text-xl font-bold text-center text-gray-700">Edytujesz dane użytkownika </h1>

    {{ form_start(form, {'attr': {'class': 'space-y-4'}} )}}

    {{ form_row(form.username, {
        'label_attr': {'class': 'block text-sm font-medium text-gray-700 mb-1'},
        'attr': {
            'class': 'w-full p-2 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500',
            }
        })
    }}

    {{ form_row(form.imageFile, {
        'label_attr': {'class': 'block text-sm font-medium text-gray-700 mb-1'},
        'attr': {
            'class': 'w-full p-2 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 hover:cursor-pointer',
            }
        })
    }}

    {% if user.imageFilename %}
        <div class="my-4 p-4 border-gray-700 rounded-lg bg-gray-50">
            <p class="block text-sm font-medium text-gray-700 mb-2">Obecny obrazek:</p>
            <img src="{{ asset('/uploads/users/'~ user.imageFilename) }}" alt="obrazek użytkownika"
                class="w-64 h-64 shadow-md rounded-lg object-cover">
        </div>
    {% endif %}

    <button type="submit"
        class="flex gap-1 mt-5 bg-green-500 p-2 text-white rounded font-bold hover:cursor-pointer hover:bg-green-600 ">
        {{ icons.edit() }}<span>Zapisz</span>
    </button>

    {{ form_end(form) }}

    <a href="{{ path('app_recipe_index') }}"
        class="text-gray-700 italic font-medium hover:underline hover:cursor-pointer">Powrót do listy</a>

{% endblock %}



